body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
}

.topbar img {
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
    color: blue;
}

.sec1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sec1 div h3 {
    width: 100%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 33.33%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    transition: transform 0.5s, box-shadow 0.5s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
}

.label {
    text-align: left;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.name {
    text-align: left;
    padding-top: 5px;
    font-size: 18px;
    color: #333;
}