.topbar {
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content: center; /* Centers everything inside */
    background-color: #0082fc;
    color: white;
    padding: 10px 20px;
    opacity: 75%;
    position: relative;
}

.topbar img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
}

.sidebar {
    height: 100vh;
    width: 60px; /* Collapsed width */
    text-wrap: nowrap;
    border-radius: 0px 15px 15px 0px;
    background-color: #333;
    transition: width 0.3s ease; /* Smooth transition */
    overflow: hidden; /* Hide overflow content */
    position: fixed;
    z-index: 99;
}

.sidebar:hover {
    width: 200px; 
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}

.label {
    padding-left: 15px;
}

.sidebar a:hover {
    background-color: #0082fc;
    z-index: 99;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

footer {
    padding: 45px 35px 45px 60px;
}

.contact-us-container {
    background-image: url(data/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 15px 40px 20px;
}

.col-md-5 {
    background: rgba(255, 255, 255, 0);
}

.contact-us-panel {
    background: rgba(255, 255, 255, 0.3);
}

.card-hover:hover {
    transform: translateY(-5px); /* Slight lift */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.address,
.contacts,
.sociall-media {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 65px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
}

.sociall-media h4 {
    font-weight: bold;
    color: #004085;
}

.sociall-media a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

sociall-media a:hover {
    text-decoration: underline;
}

.social-media .social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    transition: 0.3s;
}

.social-media .social-icon:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .contact-us-container {
        text-align: center;
    }
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 15px;
}
