* {
    box-sizing: border-box;
}

footer {
    position: relative;
    top: 150px;
    height: 550px;
    margin: 0;
    padding: 45px 35px 45px 60px;
    box-sizing: border-box;
}

body {
    background-image: url(data/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.col-12 {
    left: -25px;
}

.row {
    width: 1200px;
    overflow: hidden;
}

.card-hover h4 {
    font-size: 20px;
}

.quick-contact,
.quick-address,
.quick-links {
    min-width: 200px;
}

.container-fluid,
.contact-us-container,
.contact-us-section,
.py-5 {
    position: relative;
    top: 90px;
    left: 30px;
    width: 90%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.contact-us-panel {
    background: rgba(255, 255, 255, 0.3);
    overflow: visible;
}

.card-hover:hover {
    transform: translateY(-5px); /* Slight lift */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.address,
.contacts,
.sociall-media {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 65px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
}

.sociall-media h4 {
    font-weight: bold;
    color: #004085;
}

.sociall-media a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

sociall-media a:hover {
    text-decoration: underline;
}

.social-media .social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    transition: 0.3s;
}

.social-media .social-icon:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .contact-us-container {
        text-align: center;
    }
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 15px;
}

/* @media (min-width: 200px){
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
} */