* {
    margin: 0px;
    padding: 0px;
}

.topbar {
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content: center; /* Centers everything inside */
    background-color: #0082fc;
    color: white;
    padding: 10px 20px;
    opacity: 75%;
    position: relative;
}

.topbar img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
}