body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
}

.topbar img {
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
}

.main {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.main h2{
    text-decoration: underline;
}

.sidebar ul {
    list-style-type: disc;
    padding-left: 40px;
}

.sidebar ul li {
    margin: 30px 0;
}