* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.main {
    margin: 0;
    padding: 90px 0px 0px 0px;
    background-image: url(data/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    gap: 50px; /* Space between cards */
    align-items: center; /* Center cards horizontally */
}

.card {
    background: rgba(255, 255, 255, 0.75);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust width as needed */
    max-width: 950px; /* Prevent it from being too wide */
    text-align: center;
    box-sizing: border-box;
}

.card h3 {
    margin-top: 0;
    background-color: #0082fc;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%; /* Make table fill the card width */
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0082fc;
    color: white;
}