/* Side bar format */
/*
    <div class="sidebar">
        <a href="home.html"><span class="icon"><i class="fi fi-br-house-chimney"></i></span><span class="label">Home</span></a>
        <a href="about_college.html"><span class="icon"><i class="fi fi-br-graduation-cap"></i></span><span class="label">About College</span></a>
        <a href="mission.html"><span class="icon"><i class="fi fi-br-flag"></i></span><span class="label">Mission</span></a>
        <a href="departments.html"><span class="icon"><i class="fi fi-br-city"></i></span><span class="label">Departments</span></a>
        <a href="courses.html"><span class="icon"><i class="fi fi-br-book-bookmark"></i></span><span class="label">Courses</span></a>
        <a href="facilities.html"><span class="icon"><i class="fi fi-br-government-flag"></i></span><span class="label">Facilities</span></a>
        <a href="online_result.html"><span class="icon"><i class="fi fi-br-chart-histogram"></i></span><span class="label">Online Result</span></a>
        <a href="time_table.html"><span class="icon"><i class="fi fi-br-daily-calendar"></i></span><span class="label">Exam Timetable</span></a>
        <a href="photo_gallery.html"><span class="icon"><i class="fi fi-br-mode-landscape"></i></span><span class="label">Photo Gallery</span></a>
        <a href="contact_us.html"><span class="icon"><i class="fi fi-br-chat-bubble-call"></i></span><span class="label">Contact Us</span></a>
    </div>
*/
        
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

body * {
    font-family: "Poppins", sans-serif !important;
}

.sidebar {
    height: 100vh;
    width: 60px; /* Collapsed width */
    text-wrap: nowrap;
    border-radius: 0px 15px 15px 0px;
    background: rgba(255, 255, 255, 0.2); /* Light transparent background */
    backdrop-filter: blur(10px); /* Glass effect */
    -webkit-backdrop-filter: blur(10px);
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 60px; /* Pushes it below the topbar */
}

/* Sidebar hover */
.sidebar:hover {
    width: 210px;
    background: rgba(255, 255, 255, 0.3); /* Light transparent background */
    backdrop-filter: blur(10px); /* Glass effect */
    -webkit-backdrop-filter: blur(10px);
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}

.label {
    padding-left: 15px;
}

.sidebar a:hover {
    background-color: #0082fc;
}

.icon {
    font-size: 20px;
}

.fi {
    margin-right: 10px;
    padding: 5px 0px 0px 5px;
}
